---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout>
  <main id="main" class="hidden">
    <h1 class="animate text-xl mb-3 font-jetbrainsMono">Hi my name is</h1>
    <h2 class="animate font-poppins text-5xl font-bold md:text-6xl">
      Hamza Rashid
    </h2>
    <p class="animate my-3 sm:w-[35rem] md:leading-9 text-xl md:text-2xl">
      A dedicated <span class="font-medium font-poppins underline"
        >Linux Enthusiast,</span
      > seamlessly blending the artisty of <span
        class="font-poppins font-medium underline">Web Development</span
      > with the precision of open-source mastery
    </p>
    <div class="flex mt-5 gap-4">
      <a
        class="animate"
        aria-label="Discord Link"
        href="https://discord.com/users/hamza12700"
      >
        <Icon class="cursor-pointer" name="ic:baseline-discord" /></a
      >
      <a
        class="animate"
        aria-label="Twitter Link"
        href="https://twitter.com/Hamza_Rash1d"
      >
        <Icon class="cursor-pointer" name="mdi:twitter" />
      </a>
      <a
        class="animate"
        aria-label="Github Link"
        href="http://github.com/hamza12700"
      >
        <Icon class="cursor-pointer" name="entypo-social:github" />
      </a>
    </div>
  </main>
</Layout>

<script>
  import { gsap } from "gsap";

  const mainEl = document.getElementById("main") as HTMLElement;
  mainEl.className = "md:px-0 px-2";

  gsap.from(".animate", {
    duration: 2,
    y: "-50%",
    opacity: "-3",
    ease: "expo",
    stagger: { amount: 1 },
  });
</script>

<style>
  [astro-icon] {
    color: #626262;
    fill: #626262;
    width: 2.3rem;
    &:hover {
      color: #454545;
    }
  }

  h1 {
    text-shadow: -1px 6px 5px rgba(0, 0, 0, 0.31);
  }

  h2 {
    text-shadow: -1px 5px 5px rgba(0, 0, 0, 0.2);
  }

  p {
    text-shadow: -1px 5px 5px rgba(0, 0, 0, 0.2);
  }
</style>
