---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout>
  <main id="main" class="hidden">
    <hgroup class="flex mb-4 items-center justify-between">
      <h1 class="animate text-2xl mb-3 font-mono">Hi my name is</h1>

      <div class="flex gap-4">
        <a
          class="animate"
          aria-label="Discord Link"
          href="https://discord.com/users/hamza12700"
        >
          <Icon class="cursor-pointer" name="ic:baseline-discord" /></a
        >
        <a
          class="animate"
          aria-label="Twitter Link"
          href="https://twitter.com/Hamza_Rash1d"
        >
          <Icon class="cursor-pointer" name="mdi:twitter" />
        </a>
        <a
          class="animate"
          aria-label="Github Link"
          href="http://github.com/hamza12700"
        >
          <Icon class="cursor-pointer" name="entypo-social:github" />
        </a>
      </div>
    </hgroup>
    <h2 class="animate text-5xl font-extrabold md:text-6xl">Hamza Rashid</h2>
    <p class="animate my-3 sm:w-[35rem] md:leading-9 text-xl md:text-2xl">
      A dedicated <span class="font-semibold font-normal underline"
        >Linux Enthusiast,</span
      > seamlessly blending the artisty of <span
        class="font-normal font-semibold underline">Web Development</span
      > with the precision of open-source mastery
    </p>
    <button
      class="bg-black/80 animate font-semibold text-white hover:text-white/80 border-2 border-black p-3 rounded-md mt-4 font-normal text-xl"
      type="button"
    >
      <a href="/projects">View Projects</a>
    </button>
  </main>
</Layout>

<script>
  import { gsap } from "gsap";

  const mainEl = document.getElementById("main") as HTMLElement;
  mainEl.className = "md:px-0 px-2";

  gsap.from(".animate", {
    duration: 2,
    y: "-50%",
    opacity: "-3",
    ease: "expo",
    stagger: { amount: 0.5 },
  });
</script>

<style lang="scss">
  [astro-icon] {
    color: #626262;
    fill: #626262;
    width: 2.3rem;
    &:hover {
      color: #454545;
    }
  }

  h1 {
    text-shadow: -1px 6px 5px rgba(0, 0, 0, 0.31);
  }

  h2 {
    text-shadow: -1px 5px 5px rgba(0, 0, 0, 0.2);
  }

  p,
  button,
  a {
    text-shadow: -1px 5px 5px rgba(0, 0, 0, 0.2);
  }
</style>
