---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout>
  <main>
    <h1 class="text-xl text-shadow mb-3 font-jetbrainsMono">Hi my name is</h1>
    <h2 class="font-poppins font-bold text-6xl">Hamza Rashid</h2>
    <p class="my-3 text-2xl">
      I'm a <span class="font-medium font-poppins underline">Web Developer</span
      > and a <span class="font-poppins font-medium underline"
        >Linux Enthusiast</span
      >
    </p>
    <div class="flex mt-5 gap-4">
      <a href="https://discord.com/users/hamza12700">
        <Icon class="cursor-pointer" name="ic:baseline-discord" /></a
      >
      <a href="https://twitter.com/Hamza_Rash1d">
        <Icon class="cursor-pointer" name="mdi:twitter" />
      </a>
      <a href="http://github.com/hamza12700">
        <Icon class="cursor-pointer" name="entypo-social:github" />
      </a>
    </div>
  </main>
</Layout>

<style>
  [astro-icon] {
    color: #626262;
    fill: #626262;
    width: 2.3rem;
  }

  .text-shadow {
    text-shadow: -1px 6px 5px rgba(0, 0, 0, 0.31);
  }

  h2 {
    text-shadow: -1px 5px 5px rgba(0, 0, 0, 0.2);
  }

  p {
    text-shadow: -1px 5px 5px rgba(0, 0, 0, 0.21);
  }
</style>
