---
import GitHubLogo from "./GitHubLogo.astro";
import Logo from "./Logo.astro";
import SocialLink from "./SocialLink.astro";
import TwitterLogo from "./TwitterLogo.astro";
---

<nav class="flex justify-between p-4">
  <Logo />
  <div class="flex font-poppins items-center md:gap-3">
    <SocialLink
      title="GitHub"
      ariaLabel="GitHub"
      navbarHide
      href="https://github.com/hamza12700/"
    >
      <GitHubLogo />
    </SocialLink>

    <SocialLink
      href="https://x.com/Hamza_Rash1d"
      ariaLabel="Twitter"
      navbarHide
      title="Twitter"
    >
      <TwitterLogo />
    </SocialLink>

    <a href="https://github.com/Hamza12700?tab=repositories" target="_blank">
      <button class="btn" type="button">Projects</button>
    </a>
  </div>
</nav>
