<nav class="flex justify-between p-4">
  <a
    href="https://hamza12700.github.io/"
    class="font-dancingScript text-2xl md:text-3xl">Hamza Rashid</a
  >
  <section class="flex font-poppins items-center gap-1 md:gap-3">
    <a
      class="transition hover:-translate-y-1 mx-1 md:mx-2 ease-in-out hover:text-sky-500"
      target="_blank"
      href="https://github.com/hamza12700/"
    >
      <i class="mx-2 fa-brands fa-github-alt fa-xl"></i>
      <span class="hidden md:inline">GitHub</span>
    </a>

    <a
      class="transition hover:-translate-y-1 mx-1 md:mx-2 ease-in-out hover:text-sky-500"
      target="_blank"
      href="https://x.com/Hamza_Rash1d"
    >
      <i class="mx-1 fa-brands fa-x-twitter fa-xl"></i>
      <span class="hidden md:inline">Twitter</span>
    </a>

    <a href="https://github.com/Hamza12700?tab=repositories" target="_blank">
      <button class="ml-2 md:ml-3 btn" type="button">Projects</button>
    </a>
  </section>
</nav>
