<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="public/output.css">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="public/letter-H.png" />
    <meta name="author" content="Hamza Rashid" />
    <meta
      name="description"
      content="A Linux Fanatic"
    />
    <meta property="og:title" content="Hamza Rashid | Personal Website" />
    <meta
      property="og:description"
      content="A Linux Fanatic"
    />
    <meta property="og:url" content="https://hamza127.vercel.app/" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/Hamza12700/hamza12700.github.io/main/public/preview.png"
    />
    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:image:src"
      content="https://raw.githubusercontent.com/Hamza12700/hamza12700.github.io/main/public/preview.png"
    />
    <meta name="theme-color" content="#cacaca" />
    <title>Hamza Rashid</title>
  </head>
  <body class="min-h-[100svh] flex justify-center items-center bg-[#cacaca]">
    {{template "index" .}}
  </body>
</html>

