<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/letter-H.png" />
    <meta name="author" content="Hamza Rashid" />
    <meta
      name="description"
      content="Passionate about websites and fueled by a deep love for Linux, I am a tech enthusiast on a journey to explore and create innovative digital experiences. Join me in navigating the intersections of web development and open-source fervor, where creativity meets the power of Linux mastery"
    />
    <meta property="og:title" content="Hamza Rashid | Personal Website" />
    <meta
      property="og:description"
      content="Passionate about websites and fueled by a deep love for Linux, I am a tech enthusiast on a journey to explore and create innovative digital experiences. Join me in navigating the intersections of web development and open-source fervor, where creativity meets the power of Linux mastery"
    />
    <meta property="og:url" content="https://hamza127.vercel.app/" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/Hamza12700/hamza12700.github.io/main/public/preview.png"
    />
    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:image:src"
      content="https://raw.githubusercontent.com/Hamza12700/hamza12700.github.io/main/public/preview.png"
    />
    <meta name="theme-color" content="#cacaca" />
    <title>Hamza Rashid</title>
  </head>
  <body class="min-h-[100svh] flex justify-center items-center bg-[#cacaca]">
    <slot />
  </body>
</html>

<style is:global>
  :root {
    color: black;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
  }
</style>
